extends ./layout.jade

block content
  include ./navbar.jade
  .row
    if profiles
      .col-md-9.col-xs-12.col-md-push-1.col-xs-push-1.col-lg-push-1(style='margin-top:40px')
        h1 Celebrity list
        div.alert.alert-info
          p
            strong #{profiles.length}
            |  celebrities in the list
        div
          table.table.table-hover(data-height='500', data-show-columns="true", data-search='true')
            thead
              tr
                th Image
                th name
                th screen name
                th Followers
                th Tweets
              each c, index in profiles
                tr
                  td.text-center
                    div.avatar-small(style='height:48px;width:48px;')
                      img(src='#{c.image}').img-rounded.celebrity
                  td #{c.name}
                  td
                    a(href='http://twitter.com/#{c.username}') @#{c.username}
                  td #{c.followers}
                  td #{c.tweets}
        div.alert.alert-info
          p
            strong #{profiles.length}
            |  celebrities in the list
    if error
      .col-md-9
        div.alert.alert-danger
          h3 Error
        p #{error}