extends ./layout.jade

block content
  include ./navbar.jade
  .row
    if profiles
      .col-md-9.col-xs-12
        h1 Celebrity list
        div
          table.table.table-hover(data-height='500', data-show-columns="true", data-search='true')
            thead
              tr
                th Image
                th name
                th screen name
                //th id
                th Followers
                th Tweets
              each c, index in profiles
                tr
                  td.text-center
                    div.avatar-small(style='height:48px;width:48px;')
                      img(src='#{c.image}').img-rounded.celebrity
                  td #{c.name}
                  td
                    a(href='http://twitter.com/#{c.username}') @#{c.username}
                  //td #{c.id}
                  td #{c.followers}
                  td #{c.tweets}
        div.alert.alert-info
          p
            strong #{profiles.length}
            |  celebrities in the list
    if error
      .col-md-9
        div.alert.alert-danger
          h3 Error
        p #{error}
  //-   .col-md-9
  //-       form(method='post' action='celebrities/add')
  //-         h3 Did we miss someone in the list?
  //-         p.lead
  //-           .input-group
  //-             span.input-group-addon @
  //-             input.form-control(type='text', value='', name='username', placeholder='Username', required)
  //-         div.btn-group.pull-right
  //-           button.btn.btn-default(type='submit') Add to the list!
