extends ./layout.jade

block title
  title #{user.name}'s Celebrity Match

block extra-header
  link(rel="stylesheet", href="/css/page.css")

block extra-scripts
  link(rel="stylesheet", href="/css/bootstrap-social.css")
  script(type="text/javascript", src="/js/page.js")

block content
  .overlay-screen.how-it-worked(style="display: none")
    .container
      .row
        .col-md-8
          a.button.h3.back(href="javascript:void(0)") &#8592; BACK
          h3 How does this app analyze your personality?
          p Your Celebrity Match uses the 
            a(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/personality-insights.html') IBM Watson Personality Insights service
            |  to analyze the language in your public Twitter feed and apply it to a spectrum of characteristics. Then, we compare your results to the Twitter feeds of 100+ celebrities.
          h3 What do these traits mean?
          p These traits are drawn from 
            a(href='http://en.wikipedia.org/wiki/Big_Five_personality_traits') the Big Five of personality traits
            | .
          h3 Privacy & User Agreement
          p By using these service, you agree to our 
            a(href='http://www.ibm.com/privacy/us/en/') privacy policy
            |  and 
            a(href='/tos') Terms of Use
            | .
  include ./navbar.jade
  .container.page-content
    if info
      .row
        .col-md-8.col-md-push-2
          div(role='alert').alert.alert-info
            p
              span TIP: 
              | #{info}

    .row
      .col-md-8.col-md-push-2
        .panel-main
          include ./match-panel.jade

    .row.how-you-match-label
      .col-md-12
        p How you match up against other celebs:

    .row.other-celebs
      .col-md-6.most-similar
        .panel-comparisons
          .panel-heading
            p
              | Most 
              span similar
              |  to you
          .panel-body
            .row
              each c, index in similar_celebs
                .col-sm-4.col-xs-6.text-center.other-celeb
                  .avatar-small
                    div.overlay-yellow
                      div.percentage
                        h4 #{Math.round(c.distance * 100)}%
                    img(title='Compare me to #{c.user.name}', alt='#{c.user.name} picture', src='#{c.user.image}',id='s_#{index}')
                  h5
                    h5 #{c.user.name}
      .col-md-6.most-different
        .panel-comparisons
          .panel-heading
            p
              | Most 
              span different
              |  from you
          .panel-body
            .row
              each c,index in  different_celebs
                .col-sm-4.col-xs-6.text-center.other-celeb
                  .avatar-small
                    div.overlay-red
                      div.percentage
                        h4 #{Math.round(c.distance * 100)}%
                    img(title='Compare me to #{c.user.name}', alt='#{c.user.name} picture', src='#{c.user.image}',id='d_#{index}')
                  h5 #{c.user.name}
    //- .row.cta
    //-   h3.text-center
    //-     | Not #{user.name}? 
    //-     a(href='/') See your results!
    script(type="text/javascript").
      var similar_celebs =!{JSON.stringify(similar_celebs)};
      var different_celebs =!{JSON.stringify(different_celebs)};
